{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% set menu_id = attributes['data-block'].__toString %}

    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav navbar-nav') }}>
    {% else %}
      <ul class="nav dropdown-nav navbar navbar-dark">
    {% endif %}

    {% for uuid, item in items %}
      {% set item_uuid = uuid|clean_class %}
      {% set item_description = item.original_link.getDescription %}
      {%
        set item_classes = [
          'nav-item',
          item.is_expanded ? 'dropdown',
          item.in_active_trail ? 'active',
        ]
      %}
      {%
        set item_link_attribute = create_attribute({
          'href': item.url.toString ? item.url.toString : '#',
          'class': [
            'nav-link',
            item.in_active_trail and menu_level > 0 ? 'active',
            'd-flex',
            'align-items-center',
            'gap-2',
          ]
        })
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% if item.below %}
          {%
            set below_item_attributes = {
              'class': [
                'nav-link',
                'd-flex',
                'align-items-center',
                'gap-2',
              ],
              'data-bs-toggle': 'collapse',
              'data-bs-target': '#dropdown-sub-' ~ item_uuid,
              'aria-expanded': item.in_active_trail ? 'true' : 'false',
            }
          %}
          {%
            set below_nav_attributes = {
              'class': ['collapse', 'dropdown-sub', item.in_active_trail ? 'show' : ''],
              'id': 'dropdown-sub-' ~ item_uuid,
              'data-bs-parent': menu_level == 0 ? '#' ~ menu_id : '#dropdown-sub-' ~ item_uuid,
            }
          %}
          <span{{ create_attribute(below_item_attributes) }}>
            {% if item_description %}
            <span class="description">
              {{- item_description|raw -}}
            </span>
            {% endif %}
            <span class="title">
              {{- item.title -}}
            </span>
          </span>
          <div{{ create_attribute(below_nav_attributes) }}>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </div>
        {% else %}
          <a{{ item_link_attribute }}>
            {% if item_description %}
            <span class="description">
              {{- item_description|raw -}}
            </span>
            {% endif %}
            <span class="title">
              {{- item.title -}}
            </span>
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
